# Dependencias
node_modules/
back/node_modules

# Caches
.cache/

# Logs
*.log

# Variables de entorno
.env

# macOS
.DS_Store

# Base de datos SQLite y archivos temporales
notas.sqlite
notas.sqlite-shm
notas.sqlite-wal
loving_kepler.db
magical_blackwell.db
document.db
*.db-shm
*.db-wal

sketches
